<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/reset.css" type="text/css"  rel="stylesheet" />
    <link href="css/style.css" type="text/css"  rel="stylesheet" />

    <title>台况-首页</title>
    <script src="js/vue.min.js"></script>
</head>

<body>
<header>
    <h1>台 况</h1>
</header>
<div class="nav">
    <ul>
        <li><a href="#" class="active">全 部</a></li>
        <li><a href="#">大 厅</a></li>
        <li><a href="#">包 间</a></li>
        <li><a href="#">卡 座</a></li>
    </ul>
</div>


<div class="content" id="showtables">
    <ul class="desk"  v-for="table in tables">
        <li v-if="table.state == 1"><a href="javascript:void(0)" onclick = "document.getElementById('open').style.display='block';document.getElementById('operate').style.display='block'" class="subscribe"><p class="sub_txt"><span class="p_num">预   定</span></p></a><p class="d_num">DT002</p></li>
        <div id="open">
            <div class="white_content" id="operate">
                <a class="close" href="javascript:void(0)" onclick = "document.getElementById('open').style.display='none';document.getElementById('operate').style.display='none'"><img src="img/close.png" /></a>
                <h2>桌号：<span>DT002</span></h2>
                <a href="Order meal.html"  class="orange_btn right"/>确定开台</a>
            </div>
        </div>


        <li v-else-if="table.data.state == 2"><a href="tables details.html" class="service"><p class="use_txt">就<span class="p_num"></span>餐</p></a><p class="d_num">DT004</p></li>

        <li v-else-if="table.data.state == 3"><a href="javascript:void(0)" onclick = "document.getElementById('open').style.display='block';document.getElementById('operate').style.display='block'" class="unused"><p class="use_txt">空<span class="p_num"></span>台</p></a><p class="d_num">DT012</p></li>
    </ul>

</div>

<div class="footer-space"></div>
<footer>
    <ul>
        <li><a href="begin theatrical performance.html"><img src="img/footer_1.png" /><p class="cur">台 况</p></a></li>
        <li><a href="bill.html"><img src="img/footer_02.png" /><p>账 单</p></a></li>
        <li><a href="call out.html"><img src="img/footer_03.png" /><p>呼 叫</p></a></li>
        <li><a href="more.html"><img src="img/footer_04.png" /><p>更 多</p></a></li>
    </ul>
</footer>
</body>


<script>
    var appmenu = new Vue({
        el: '#showtables',
        data: {
            tables:[
                { state: 1 },
                { state: 2 },
                { state: 3 }
            ]
        }
    })

    $(function(){
        $.ajax({
            url:"admin/selectAllTables",
            success:function(res){
                appmenu.tables=res;
            }
        })
    })


</script>

<script>
    new Vue({
        el: '#app',
        data: {
            seen: true,
            ok: true
        }
    })
</script>




</html>